* {
    padding-left:  2px;
    padding-right: 2px;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: white;
    background-color: rgb(56, 56, 56);
    text-rendering: optimizeLegibility;
}
.header {
    position: fixed;  /* Giữ cố định */
    top: 0;           /* Cố định ở đầu trang */
    left: 0;
    width: 100%;      /* Chiếm toàn bộ chiều rộng */
    background: #222; /* Màu nền */
    padding: 15px 20px;
    z-index: 1000;    /* Đảm bảo luôn ở trên cùng */
}

/* Để tránh nội dung bị che khuất bởi header */
body {
    padding-top: 200px; /* Điều chỉnh để không bị che bởi header */
}


.fitfun {
    /* margin-left: 250px; */
    /* margin-top: -100px; */
    margin-bottom: 30px;
    color: white;
    text-align: center;
    /* display: inline; */
}
/* Logo */
.logo1 {
    width: 120px;
    margin-left: 10px;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}
.header {
    display: flex;
    justify-content: space-between; /* Cách đều hai bên */
    align-items: center; /* Căn giữa theo chiều dọc */
    padding: 10px 20px; /* Tạo khoảng cách hai bên */
    background-color: rgb(56, 56, 56); /* Màu nền nhẹ */
}



.danhMuc {
    list-style: none;
    display: flex; /* Hiển thị các mục trên một dòng */
    gap: 20px; /* Khoảng cách giữa các mục */
}

.danhMuc li a {
    text-decoration: none;
    font-size: 13px;
    color: #ffffff;
    font-weight: bold;
}
.contentner {
    display: inline;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}



/* Cột trái - Nội dung chính */
.maincont {
    padding-right: 20px;
}
.maincont h1{
    /* font-size: 20px; */
    margin-top: 20px;
    color: #f8c400;
}
.maincont p{
    margin-top: 20px;
}
.about-img {
    width: 100%;
    border-radius: 10px;
}


/* Cột phải - Sidebar */
.sidebar {
    background: rgb(56, 56, 56);
    border-radius: 10px;
}

.sidebar h2 {
    color: #f8c400;
    font-size: 25px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li img{
  margin-left: 50px;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    margin-left: 50px;
    
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.foter{
    text-align: center;
}