
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: gray;
    background-color: rgb(56, 56, 56);
    text-rendering: optimizeLegibility;
}
.logo1{
    width: 200px;
    /* float: left; */
    margin-left: 10px;
    }
.picture{
    width: 1%;
    margin-left: 10px;
}
.video{
    width: 1000px;
    margin-left: 10px;
}    